<section class="flex-col items-center w-full">
<h2 class="text-4xl text-center pb-4">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-center pb-8">    
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full py-2 px-4 rounded", placeholder: "name" %>
  </div>

  <div class="field text-center pb-8">    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-2 px-4 rounded", placeholder: "Email" %>
  </div>

  <div class="field text-center pb-8">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full py-2 px-4 rounded", placeholder: "Password" %>
  </div>

  <div class="field text-center pb-8">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full py-2 px-4 rounded", placeholder: "New Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",  class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</section>

