
  <section class="container flex flex-col gap-4">
    <h1 class='text-3xl md:text-5xl text-center font-bold pb-4'>List of Users</h1>

    <% if @users.present? %> 
      <ul class="bg-gray-200">
        <% @users.each do |user| %>
          <li class="pb-4 hover:bg-gray-300 relative">
            <div class="flex gap-4">

              <div>
                <% if user.photo.present? %>
                  <img src="<%= user.photo %>" alt="photo" class="rounded" width="100px">
                <% else %>
                <p>::::: No photo ::::: 📸</p>
                <% end %>
              </div>

              <div class="flex gap-2">
                <%= link_to user_path(id: user.id) do %>        
                  <h2 class="text-2xl font-bold hover:scale-y-125 transition-all">
                    <%= user.name %>
                  </h2>              
                <% end %>              
              </div>  

              <div class="flex">
                <p class="text-sm bottom-2 right-2 absolute ">Number of posts: <%= user.posts_counter %></p>        
              </div>
            </div>
          </li>
        <% end %> 
      </ul>
    <% else %>
    
    <p class="text-center text-2xl">No users created.</p>
  <% end %>   
    <% if current_user.present? %>    
    <%= link_to new_user_post_path(current_user) do %>
      <h2 class="pt-5 text-5xl hover:scale-y-125 transition-all">Add a new Post</h2>
    <% end %>
  
<% else %>
  <p class="text-center text-2xl">Sing Up !!!</p>
<% end %>

</section>
