<main>
  <header>
    <h1><%= @user.name%></h1>
    <p>Number of posts: <%= @user.posts_counter%></p>
    <hr />
  </header>
  <section>
    <h3>Bio</h3>
  </section>
  <section>
    <p><%= @user.bio%></p>
    <hr />
    <ul>
      <% @post.each do |post| %>
      <li>
        <a
          href="http://127.0.0.1:3000/users/<%= @user.id %>/posts/<%= post.id%>"
        >
          <h3>Post #<%= post.id %></h3>
        </a>
        <p><%= post.text%></p>
        <hr />
      </li>
      <% end %>
    </ul>
    <form action="http://127.0.0.1:3000/users/<%= @user.id %>/posts/" method="get">
      <button type="submit">See all posts</button>
    </form>
  </section>
</main>
