<main>
  <header>
    <h1>List of Posts</h1>
  </header>
  <ul>
    <% @users.each do |user| %>
      <li>
        <h2><%= user.name %></h2>
        <p>Number of posts: <%=user.posts_counter %></p>
        <hr>
        <ul>
          <% @posts.each do |post| %>
            <% if post.author_id == user.id %> 
              <li>
                <a href="http://127.0.0.1:3000/users/<%= post.author.id %>/posts/<%= post.id %>">
                  <h3>Post #<%= post.id %></h3>  
                </a>  
                <p><%= post.text %></p>
                <p>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></p>
                <hr>
                <ul>
                  <% @comments.each do |comment| %> 
                    <% if post.id == comment.post_id %> 
                      <li><strong><%=comment.author.name%>:</strong>  <i><%= comment.text %></i></li> 
                    <% end %> 
                  <% end %>
                </ul>
              </li>
            <% end %> 
          <% end %> 
        </ul>
      </li>
    <% end %> 
  </ul>
</main>
